{% extends 'tickets/base.html' %}

{% block content %}

<h1>Perfil de usuario</h1>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Update">
        <a href="{% url 'list' %}" class="btn btn-dark">Back</a>
    </form>
</div>
<div style="margin: 2rem 0 2rem 0;">
    {% if request.user.tech.avatar %}
    <img src="{{ request.user.tech.avatar.url }}" alt="..." style="width: 15%;">
    {% endif %}
</div>

{% endblock %}